# Dependencies
node_modules/
.pnp
.pnp.js

# Production
dist/
dist-ssr/
*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
*.log

# Editor & OS
.vscode/
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.gemini/

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/

# Raw Large PDFs (Data is compiled into data/normalized & data/snapshots)
datasets/*.pdf
